/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #F2F2F2;
  font-family: 'Open Sans', sans-serif;
}

/* Globales */
.contenedor {
  width: 98%;
  margin: 0 auto;
}

@media(min-width: 480px) {
  .contenedor {
    width: 95%;
  }
}

@media(min-width: 768px) {
  .contenedor {
    width: 90%;
  }
}

@media(min-width: 992px) {
  .contenedor {
    width: 90%;
    max-width: 1110px;
  }
}

/* .seccion {
  padding: 3rem 0;
}

.seccion p {
  font-size: 1.8rem;
  text-align: center;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 3.6rem;
  text-transform: uppercase;
  text-align: center;
}

h2::after {
  content: '';
  margin: 0 auto;
  background-image: url(../img/separador.png);
  height: 3rem;
  width: 10rem;
  display: block;
}

h3 {
  font-size: 2.4rem;
  color: #fe4918;
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  font-weight: 400;
} */

.button {
  background: #0FB3D8;
  padding: 1.5rem 3rem;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  font-size: 2.5rem;
  text-decoration: none;
  margin-top: 2rem;
  display: inline-block;
  transition: all .3s ease;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.button:hover {
  background: #E0D9CE;
  color: black;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.float-right {
  float: right;
}

p {
  font-size: 1.6rem;
}

/* Header */

div.hero {
  background-image: url(../img/background1.png);
  height: 100vh;
  background-position: top center;
  background-size: cover;
}

div.contenido-header {
  padding-top: 4rem;

}

@media(min-width: 768px) {
  div.contenido-header {
    padding-top: 1rem;
  }
}

.header-container {
  height: 100%;
  width: 37%;
  height: 100%;
  color: white;
  background: rgba(171, 152, 122, 0.2);
  backdrop-filter: blur(12px);
  box-shadow: 5px 0px 4px rgba(0, 0, 0, 0.25);
  padding: 0 8rem;
  text-align: center;
}

.nombre-sitio {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  padding-top: 2rem;
  font-size: 9.6rem;
  font-weight: 300;
}

.nombre-sitio span {
  font-weight: bold;
}

.eslogan {
  font-size: 3.6rem;
  display: block;
  margin-top: 5rem;
}

.texto-header {
  text-align: left;
  margin: 8rem 0;
}

.inicio-sesion {
  display: grid;
  justify-content: center;
  align-items: center;
}

.inicio-sesion span {
  margin-top: 1rem;
}

.site-header {
  display: grid;
  background: #E0D9CE;
  height: 12vh;
}

.site-header div {
  /*display: flex;*/
  justify-content: center;
  align-items: center;
}

.site-header div h1 {
  text-align: center;
  font-size: 4rem;
  margin: 0;
  font-weight: 300;
}

.site-header div h1 span {
  font-weight: 700;
}

.site-header a{
  color: #222;
  text-decoration: none;
}

.navegacion {
  height: 8vh;
  background: rgba(171, 152, 122, 0.2);
  backdrop-filter: blur(50px);
  padding-right: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navegacion input {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  width: 24.9rem;
  outline: none;
  font-size: medium;
  background-color: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid gray;
  transition: all .3s ease;
}

.navegacion input:focus-within {
  border-bottom: 1px solid black;
}

/*Cuerpo principal*/

.grid-bicis {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
}

.bici-item {
  margin: auto;
  height: 35rem;
  width: 25rem;
  text-align: center;
}

.imagen-bici {
  /* height: 25rem;
  width: 25rem; */

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 10px;
  background-position: center center;
  background-size: cover;
  background-image: url(../img/bici2.jpg);
}

.imagen-bici img {

  max-width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 25.73%;

}

.nombre-bici {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 300;
}

.precio {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 3rem;
}

.card {
  background: transparent;
  border: none;
}

.card-body {
  text-align: center;
}

/* página shop*/
.pag-shop {
  display: flex;
  justify-content: space-evenly;
}

.seccion-lateral {
  width: 50rem;
}

.carrito {
  padding: 2rem;
  position: fixed;
  right: 5rem;
}

.principal {
  margin-left: 4.5rem;
}

/*Footer*/
.site-footer {
  height: 10rem;
  background: rgb(65, 58, 47);
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.site-footer a {
  color: white;
  text-decoration: none;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " ("attr(href) ")";
  }

  abbr[title]::after {
    content: " ("attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
