/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* GLOBALES */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #F2F2F2;
  font-family: 'Open Sans', sans-serif;
}

.contenedor {
  width: 98%;
  margin: 0 auto !important;
}

@media(min-width: 480px) {
  .contenedor {
    width: 95%;
  }
}

@media(min-width: 768px) {
  .contenedor {
    width: 90%;
  }
}

@media(min-width: 992px) {
  .contenedor {
    width: 90%;
    max-width: 1110px;
  }
}

h2 {
  font-size: 2.4rem;
  font-family: "PT Sans", sans-serif;
  text-align: center;
}

h3 {
  font-size: 1.8rem;
  font-family: "PT Sans", sans-serif;
  text-align: center;
}

p {
  font-size: 1.5rem;
}

/* UTILIDADES */

.texto-centrado {
  text-align: center;
}

.boton {
  color: white;
  background-color: #5336BF;
  padding: 1.5rem 2.5rem;
  text-decoration: none;
  font-size: 1.8rem;
  border: none;
  transition: all .3s ease;
}

.boton:hover {
  background-color: #37247e;
  text-decoration: none;
  color: white;
}

/* Pop-Up */
.contenedor-popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 600ms ease;
  /*Para que aparezca un fondo oscuro debajo del popup */
}

.contenedor-popup:target {
  background: rgba(0, 0, 0, .6);
  visibility: visible;
  opacity: 1;
  /* transform: translate(-50%, -50%); */
}

.contenedor-popup:target .popup {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: visible;
}

.popup-img {
  max-width: 100%;
  height: 50%;
  background-image: url(../img/biciLima.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 .3rem rgba(0, 0, 0, .5);
}

.popup-content {
  height: 50%;
  padding: 1rem !important;
  overflow-y: auto;
}

.popup-content a {
  padding: 1rem 3rem;
  text-align: center;
  display: block;
  margin: auto;
}

@media (min-width: 480px) {
  .popup-content a {
    width: 50%;
  }
}

.popup-title {
  text-align: left;
  font-size: 2.4rem;
}

.modal {
  backdrop-filter: blur(5px);
}

div.modal-body {
  padding: 0;
}

div.modal-content {
  height: 70%;
  border: none;
  border-radius: 0px;
}

@media(min-width: 375px) {
  div.modal-content {
    height: 50rem;
  }
}

.modal-header {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}

/* HEADER */
div.hero {
  position: relative;
}

div.contenedor-video {
  overflow: hidden;
}

@media (min-width: 922px) {
  div.contenedor-video video {
    width: 100%;
  }
}

div.contenido-header .content-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, .5);
  color: #ffffff;
}

h1.nombre-sitio {
  font-family: "PT Sans", sans-serif;
  font-size: 4.8rem;
}

h1.nombre-sitio span {
  font-weight: 700;
}

@media (min-width: 768px) {
  h1.nombre-sitio {
    font-size: 7.2rem;
  }
}

p.eslogan {
  margin-top: 1.8rem;
  font-size: 1.6rem;
}

@media (min-width: 768px) {
  p.eslogan {
    margin-top: 3.6rem;
    font-size: 2.4rem;
  }
}

div.inicio-sesion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.inicio-sesion span {
  font-size: 1.2rem;
  margin-top: 2rem;
  color: white;
}

div.inicio-sesion span a {
  color: #D5D7F2;
}

/* Navegación */
div.barra {
  background-color: #240E73;
  padding: 2rem 6rem;
}

@media (min-width: 768px) {
  div.barra {
    box-shadow: 0 0 .3rem rgba(0, 0, 0, .87);
    position: sticky;
    top: 0;
  }
}

div.barra .content-barra {
  display: flex;
  flex-wrap: wrap;
}

div.barra .content-barra:last-child {
  justify-content: center;
  text-align: center;
}

@media (min-width: 768px) {
  div.barra .content-barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  div.barra .content-barra:last-child {
    display: flex;
    justify-content: space-between;
  }
}

div.logo img {
  display: block;
  text-align: center;
  width: 50%;
}

@media (min-width: 768px) {
  div.logo img {
    width: 40%;
  }
}

@media (min-width: 768px) {
  div.barra i {
    display: none;
  }
}

/*Navegación principal*/

nav.navegacion-principal {
  display: none;
}

nav.navegacion-principal {
  margin-top: 4rem;
}

nav.navegacion-principal a {
  font-family: "PT Sans", sans-serif;
  color: white;
  font-size: 1.4rem;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  transition: all .3s ease;
  margin-bottom: 1.5rem;
  padding: 1rem 10rem;
  width: auto;
}

#top-nombre-user {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  width: auto;
}

nav.navegacion-principal a:last-child {
  margin-bottom: 0;
}

nav.navegacion-principal a:last-child span {
  margin-left: .75rem;
}

nav.navegacion-principal a:hover {
  background-color: #AAA7F2;
  color: rgba(0, 0, 0, .57);
}

nav.navegacion-principal a:last-child:hover {
  background-color: transparent;
  color: #AAA7F2;
}

@media (min-width: 922px) {

  nav.navegacion-principal,
  nav.navegacion-principal a i {
    margin: 0;
    display: inline;
  }

  nav.navegacion-principal a {
    margin-right: 2rem;
    padding: 1rem;
    display: inline;
  }

  nav.navegacion-principal a:last-child {
    margin: 0;
  }
}

/* Menú móvil */
.dropdown {
  padding: 0.92rem 1rem;
}
.nav-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5.5rem;
  box-shadow: 0 0 .3rem rgba(0, 0, 0, .2);
  background-color: #37247e;
  display: flex;
  overflow-x: auto;
}

@media (min-width: 922px) {
  .nav-bottom {
    display: none;
  }
}

.navBottom-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
  min-width: 5rem;
  overflow: hidden;
  white-space: nowrap;
  font-family: "PT Sans", sans-serif;
  font-size: 1.3rem;
  color: #D5D7F2;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: background-color .3s ease-in-out;
}

.navBottom-link:hover {
  background-color: #AAA7F2;
  color: #37247e;
  text-decoration: none;
}

.navBottom-link-active {
  color: #FAB147;
}

.navBottom-icon {
  font-size: 1.8rem;
}

.menu-movil {
  color: white;
  width: 6rem;
  text-align: right;
  margin-top: 1.2rem;
}

.menu-movil:hover {
  cursor: pointer;
}

/*Carrusel*/
/* .carousel-item{
  margin:auto;
} */



@media(min-width: 768px) {
  div.carousel-item {
    height: 50rem;
    background-position: center center;
    background-size: cover;
    max-width: 100%;
    overflow: hidden;
  }

  div.carousel-item img {
    filter: brightness(.75);
    position: absolute;
    top: -7.5rem;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

/* Sección */

.seccion {
  padding: 3rem 0;
}

.seccion p {
  text-align: center;
}

/*FOOTER*/

.site-footer {
  margin-bottom: 3.2rem;
  padding: 3rem;
  color: white;
  background-color: #240E73;
}

@media (min-width: 922px){
  .site-footer {
    margin: 0;
  }
}

.site-footer footer .logo img {
  margin: auto;
}

.site-footer footer .navegacion-principal {
  display: block;
  text-align: center;
}

.copyright {
  margin-top: 2rem;
}

.site-footer .copyright {
  display: block;
  text-align: center;
  font-size: .9rem;
}

@media (min-width: 768px) {
  .site-footer footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

}

/* SING IN / SING UP */
#crear-cuenta {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: auto; */
  /* position: fixed; */
  background-image: url(../img/biciLima.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
}

#inicio-sesion {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh + 20rem);
  /* position: fixed; */
  background-image: url(../img/background1.png);
  background-position: center 5%;
  background-size: cover;
  position: relative;
}

.contenedor-formulario {
  width: 58.6rem;
  background: rgba(255, 255, 255, .85);
  backdrop-filter: blur(5px);
  margin: 5rem auto;
}

@media screen and (max-width: 1024px) {
  .contenedor-formulario {
    margin: 0 auto;
  }
}

.appointment-form {
  padding: 3rem 4rem 5rem 4rem;
}

.appointment-form small {
  font-size: 1rem;
  text-align: right;
  display: block;
  margin-bottom: 3rem;
}

@media screen and (max-width: 767px) {
  .contenedor-formulario {
    width: calc(100% - 30px);
    max-width: 100%;
  }
}

@media screen and (min-width: 992px) {
  .contenedor-formulario {
    margin-left: 3rem;
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .appointment-form {
    width: calc(100% - 30px);
    padding: 5rem 3rem 7rem 3rem;
    /* position: absolute; */
    left: 25%;
  }
}

div.formulario-login {
  height: 60%;
}

.form-control {
  border-radius: 0;
  border: none;
}

.form-check-label {
  margin-left: 1rem;
}

.form-submit {
  margin-top: 2rem;
}

.select-list {
  position: relative;
  display: inline-block;
  width: 100%;
}

.form-group-2,
.form-group-1 {
  margin-top: 15px;
  margin-bottom: 30px;
}

.form-group-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.form-group-1 input,
.select-list select {
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.50);
  font-size: small;
  margin-bottom: 3rem;
  padding: 1rem;
}

.form-group-1 label {
  font-size: small;
}

.form-group-1 input#birthday {
  width: 15rem;
}

.form-group-1 input:last-child {
  margin-bottom: 0;
}

/* --------- */

.nav-link {
  font-size: 1.8rem;
  border-radius: 0 !important;
  border: none;
  transition: all .3s ease;
}

.nav-link.active {
  color: white !important;
  background-color: rgba(170, 167, 242, 0.5) !important;
}

.nav-link:hover {
  color: white;
  background-color: rgba(170, 167, 242, 0.25);
}

div.tab-pane {
  color: white;
  font-size: 1.8rem;
  padding: 3rem 4rem;
  height: 100%;
  /* background-color: rgba(170, 167, 242, 0.5); */
  backdrop-filter: blur(5px);
}


/* SHOP */

.tarjeta-bici {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .grid-bicis {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}

.tarjeta-bici img {
  max-width: 100%;
}

.tarjeta-bici p,
.popup-content p {
  text-align: left;
  font-weight: 700;
  font-size: 2rem;
  margin: 0;
}

.popup-content p {
  margin-bottom: 1rem;
}

.tarjeta-bici-texto {
  padding: 1rem 0;
}

.tarjeta-bici h3 {
  font-size: 1.6rem;
  text-align: left;
  font-size: 2.4rem;
  font-weight: 400;
}

.tarjeta-bici a {
  text-decoration: none;
  color: rgba(0, 0, 0, .87)
}


/* Detalles bicicleta*/

.table {
  margin: 3rem auto 1rem;
  width: 75%;
}

th.detalle-bici {
  width: 25%;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " ("attr(href) ")";
  }

  abbr[title]::after {
    content: " ("attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
