<!doctype html>
<html class="no-js" lang="es">

<head>
  <meta charset="utf-8">
  <title>FisiBici 🚲</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="FisiBici">
  <meta property="og:type" content="service">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">

  <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='img/icon.png') }}">
  <!-- Place favicon.ico in the root directory -->

  <link rel="author" href="{{ url_for('static', filename='humans.txt') }}" />
  <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  <meta name="theme-color" content="#E0D9CE">
</head>

<body>
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <div href="{{ url_for('index' , _external=True) }}" id="ruta"></div>

  <div class="barra clearfix">
    <div class="contenedor content-barra">
      <div class="logo">
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/FisiBiciLogo.svg') }}"
            alt="Logo FisiBici"></a>
      </div>

      <nav class="navegacion-principal">
        <a href="{{ url_for('shop') }}">Bicicletas</a>
        <a href="#">Contacto</a>
        <a href="{{ url_for('about') }}">Acerca de </a>
        <div class="dropdown">
          <a href="#" id="top-nombre-user" data-toggle="dropdown"><i class="material-icons">account_circle</i></a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item cerrar-sesion" type="button">Cerrar Sesión</button>
          </div>
        </div>
      </nav>
    </div>
  </div> <!-- Barra -->

  <!-- Aquí comienza la parte principal -->
  <div class="contenedor">
    <h1 class="title-h1">Acerca de nosotros</h1>

    <p>Nosotros tres somos quienes estuvimos detrás de este proyecto, lo vimos nacer y crecer. Y ahora, en la recta
      final de este trabajo, le deseamos lo mejor.</p>
    <p>Este proyecto nos ayudó mucho a darnos cuenta en dónde está nuestro potencial, hasta dónde hemos podido llegar y
      darnos cuenta de nuestra realidad. Que esto sea una marca de inicio para nuestros futuros proyectos en donde
      nuestra modestia, humildad y capacidad florezcan como el resplandor de mil soles.</p>
    <p>Sin más que decir por nuestra parte, a continuación se muestran a las personas que estuvieron detrás de todo
      esto.</p>

    <div class="contenedor-authors">

      <div class="card-author">
        <a href="https://github.com/sebastcotd">
          <img src="{{ url_for('static', filename='img/sebastianAuthor.png') }}" alt="Sebastian">
        </a>

        <h3>Sebastian Vargas <br> <span class="rol">Frontend</span></h3>
      </div>

      <div class="card-author">
        <a href="https://github.com/Maurck">
          <img src="{{ url_for('static', filename='img/mauricioAuthor.jpeg') }}" alt="Mauricio">
        </a>

        <h3>Mauricio Linares <br> <span class="rol">Backend</span></h3>
      </div>

      <div class="card-author">
        <a href="https://github.com/MartinRC26">
          <img src="{{ url_for('static', filename='img/martínAuthor.png') }}" alt="Martín">
        </a>

        <h3>Martín Rodríguez <br> <span class="rol">Logística</span></h3>
      </div>

    </div>

    <small id="only-3">Solo somos nosotros tres, en serio 🙂</small>

  </div>

  <nav class="nav-bottom">
    <a href="{{ url_for('index') }}" class="navBottom-link navBottom-link-active">
      <i class="material-icons navBottom-icon">home</i>
      <span class="nav-text">Inicio</span>
    </a>
    <a href="{{ url_for('shop') }}" class="navBottom-link">
      <i class="material-icons navBottom-icon">pedal_bike</i>
      <span class="nav-text">Bicicletas</span>
    </a>
    <a href="#" class="navBottom-link">
      <i class="material-icons navBottom-icon">shopping_cart</i>
      <span class="nav-text">Carrito</span>
    </a>
    <div class="dropdown">
      <a href="#" class="navBottom-link" data-toggle="dropdown">
        <i class="material-icons navBottom-icon">account_circle</i>
        <span class="nav-text" id="bottom-nombre-user">Visitante</span>
      </a>
      <div class="dropdown-menu">
        <a href="#" id="cerrar-sesion">Cerrar Sesión</a>
      </div>
    </div>
    <a href="{{ url_for('about') }}" class="navBottom-link">
      <i class="material-icons navBottom-icon">emoji_objects</i>
      <span class="nav-text">Acerca de</span>
    </a>
  </nav> <!-- Bottom Nav Bar-->

  <div class="site-footer">
    <div class="copyright">
      <small>FisiBici&copy; 2020. Todos los derechos reservados</small> <br>
      <small>SW2020504</small>
    </div>
  </div> <!-- Footer -->


  <!-- Zona de scripts -->
  <script src="{{ url_for('static', filename='js/vendor/modernizr-3.11.2.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
  <script type="module" src="{{ url_for('static', filename='js/main.js') }}" defer></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () {
      ga.q.push(arguments)
    };
    ga.q = [];
    ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto');
    ga('set', 'anonymizeIp', true);
    ga('set', 'transport', 'beacon');
    ga('send', 'pageview')

  </script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
  </script>
</body>

</html>
